/* Remove autofill background color */

input.autofillReset:autofill,
input.autofillReset:autofill:focus,
input.autofillReset:autofill:hover {
    box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: var(--foreground) !important;
    -moz-text-fill-color: var(--foreground) !important;
    transition: background-color 5000s ease-in-out 0s !important;
}