rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  	match /users/{userId} {
    	allow create: if request.auth != null;
      allow read, update: if request.auth != null && request.auth.uid == userId;
    }
    
    match /admins/{adminUid} {
    	allow read: if request.auth != null && request.auth.uid == adminUid;
    }
    
    match /requests/{r} {
			allow create: if request.auth != null;
      allow read, update, delete: if request.auth.token.role == "admin";
    }
    
    match /drivers/{d} {
    	allow read: if request.auth != null;
      allow create, update, delete: if request.auth.token.role == "admin";
    }
    
    match /vehicles/{v} {
    	allow read: if request.auth != null;
      allow create, update, delete: if request.auth.token.role == "admin";
		}
    
    match /schedules/{s} {
      allow read, write: if request.auth.token.role == "admin";
    }
  }
}